.env
PayPal.log
error_log
/public/logs/*
/public/error_log
/public/css/shop-style.css
/public/css/dynamic_admin.css
/public/css/dynamic_front.css
/public/zips/*.zip
/public/beats
/public/json_resources
composer.lock

public/images/banners/
public/images/beats/
public/images/categories/
public/images/shop_options/
public/images/producers/

/storage/logs